body {
    background: url(/brushed.png) repeat 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 3.5em;
    padding-top: 8em;
    padding-left: 1em;
    -webkit-font-smoothing: antialiased;
}

p#links {
    font-family: 'Lato', sans-serif;
    font-size: 0.3em;
    word-spacing: 0.75em;
}

p#tagline, p#about {
    font-family: 'Lato', sans-serif;
    font-size: 0.275em;
    word-spacing: 0.15em;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: green;
}

/* landscape */
@media screen and (min-device-width: 421px) {
    body {
        padding-top: 1.5em;
    }
}

/* portrait */
@media screen and (max-device-width: 420px) {
    body {
        font-size: 2.5em;
        padding-top: 4em;
    }

    p#links {
        font-size: 0.5em;
    }

    p#tagline, p#about {
        font-size: 0.4em;
    }
}
